<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Blog</title>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header>
      <%- include("../partials/header", {user: user}) %>
    </header>

    <section class="section">
      <div class="container has-text-centered">
        <%- include( "../partials/flashMessage", { flashMessage } ) %>
        <figure class="image" style="width:200px; margin: 0 auto;">
          <img src="/images/chipmunk.png" />
        </figure>
        <br />
        <p>
          Welcome to our Awesome Blog..!
        </p>
        <p>
          <small>You viewed this page <%- pvCount %> times.</small>
        </p>
      </div>
    </section>

    <footer class="footer">
      <%- include("../partials/footer") %>
    </footer>
  </body>
</html>
