<!DOCTYPE html>
<html lang="en">
<head>
  <title>Show Post</title>
  <%- include("../partials/head") %>
</head>
<body>

  <header>
    <%- include("../partials/header") %>
  </header>

  <div class="section">
    <% if (post !== undefined) { %>
    <div class="container">
      <%- include( "../partials/flashMessage", { flashMessage } ) %>
      <p class="title is-3">
        <%- post.title %>
      </p>
      <p class="title is-6">
        <small>
          <%- post._creator.username %>
        </small> ·
        <small>
          <%- post.createdAt.toDateString() %>
        </small>
      </p>
      <div class="content">
        <%- post.text %>
      </div>
    </div>

    <br />

    <div class="container">

      <p class="title is-4">
        Comments
      </p>

      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="/images/128x128.png" />
          </figure>
        </div>
        <div class="media-content">
          <form method="post" action="/posts/<%= post._id %>/comment">
            <div class="field">
              <div class="control">
                <textarea class="textarea" name="text" placeholder="Add your comment here..."></textarea>
              </div>
            </div>
            <div class="field">
              <input class="button" type="submit" value="Add Comment" />
            </div>
          </form>
        </div>
      </article>

      <% post._comments.forEach( (comment) => { %>
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <img src="/images/128x128.png" />
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%- comment._creator.username %></strong>
              <br />
              <%- comment.text %>
              <br />
              <small> <a href="#">Like</a> · <a href="#">Reply</a> · <%- comment.createdAt.toDateString() %></small>
            </p>
          </div>
        </div>
        <div class="media-right">
          <% if( comment._creator.username == user.username ) { %>
          <form method="get" action="/comments/<%- comment._id %>"
            <input type="hidden" name="nothing" value="asdf" />
            <button class="delete" type="submit"></button>
          </form>
          <% } %>
        </div>
      </article>
      <% } ) %>

    </div>
    <% } %>

  </div>


  <footer class="footer">
    <%- include("../partials/footer") %>
  </footer>

</body>
</html>
